/*初始化 start*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
/*初始化 end*/
/*1 start*/
.container { text-align: center;}
.container .photo{ width: 200px; height: 200px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius:50%; border: none;}
.container .one-name{ font-size: 3.5em; margin: 0.5em; color: #eef3f0; font-weight: bold;}
.container .one-text{ font-size: 2em; color: #aee2d9;}
.container .one-email { margin: 1em;}
.container .one-email a, .one-email a:visited{ color: #008a75;}
.container .one-email a:hover{ color: #eef3f0;}
/*1 end*/
/*2 start*/
.title { font-size: 3.5em; color: #eef3f0; font-weight: bold;}
.two-box { padding: 0.5em;margin: 10px;}
.two-img div{ width: 100px; height: 100px; background-color: #008a75; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius:50%; border: none;margin: 25px auto; padding: 18px;}
.two-content { text-align: left;}
.two-content h2{ font-size: 2em; color: #eef3f0;}
.two-content p{ color: #aee2d9; margin: 1em;}
.two-content span { color: #008a75; background-color: #aee2d9;font-size: 0.5em;margin: 5px; display: inline-block; padding: 5px; border-radius: 3px;}
.two-more { font-size: 2em; color: #008a75;margin-top: 20px;}
.two-more a, .two-more a:visited{ color: #fff;}
.two-more a:hover{ color: #b2d701 }
/*2 end*/
/*3 start*/
.three-box { margin: 10px; font-size: 2em;}
.tag { display: inline-block; background-color: #096254; color: #aee2d9;padding: 5px 15px; border-radius: 10px;}
.tag-2 { opacity: 0.8;}
.tag-3 { opacity: 0.6;}
/*3 end*/
/*4 start*/
.date { color: #008a75; font-size: 1.5em;}
.four-content { color: #aee2d9; font-size: 2em;}
/*4 end*/
/*5 start*/
.five-content { font-size: 2.5em; color: #fff;margin: 20px;}
.five-content a, .five-content a:visited{ color: #eef3f0;}
.five-content a:hover{ color: #b2d701;}
.five-email { font-size: 1.5em; color: #eef3f0;}
.five-email a, .five-email a:visited{ color: #008a75;}
.five-email a:hover{ color: #eef3f0;}
/*5 end*/